@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
}
.open-button1 {
    background-color: #0FBBE6;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    /* width: 280px; */
  }
  
  /* The popup chat - hidden by default */
  .chat-popup1 {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 999999999999999999999999999999;
  }
  
  /* Add styles to the form container */
  .form-container1 {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container1 textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container1 textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container1 .btn1 {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container1 .cancel1 {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container1 .btn1:hover, .open-button1:hover {
    opacity: 1;
  }

  .LandingPageNav{
    position: absolute;
    top: 0;
    background-color: #0FBBE6;
    // height: 200px;
    width: 100%;
    ul{
        list-style: none;
        width: 100%;
        display: flex;
        // border: 1px solid black;
        justify-content: center;
        align-items: center;
        span{
            font-size: 40px;
            display: flex;
            align-items: center;
            align-self: flex-start;
            
        }
        li[name='staff']{
            margin: 5px 25px;
            font-size: xx-large;
        }
        li{
            margin: 10px 20px;
        }
    }
  }


.DashboardMainDiv::-webkit-scrollbar{
  width: 0;
  height: 0;
}
@mixin calendarDisp{
  width: calc(100%/7);
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 10px;  
  text-align: center;  
  
}

.weeks, .days{
  width: 100%;
  ul{
      list-style: none;
      width: 100%;
      display: flex;
  }
  ul{
      display: flex;
      flex-wrap: wrap;
  }
  ul li{
      @include calendarDisp
  }
}

::-webkit-scrollbar{
  width: 0;
  height: 0;
}
// .StaffMessages{
//   background-color: #04AA6D !important;
// }
// .StaffMessages::after {
//   content: '';
//   inset: -10% !important;
//   // width: 100%;
//   // height: 100%;
//   background-color: #0FBBE6;
//   // border-radius: 1rem !important;
//   // border-top-right-radius: 0 !important;
// }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.middleDiv{
  @apply mt-16 md:mt-0 h-screen basis-full md:basis-7/12 px-5 overflow-y-auto border border-2
}
.otherDiv{
  @apply basis-full md:basis-4/12 md:h-screen block bg-slate-300 overflow-y-auto mt-16 md:mt-0 p-2
}
.containerAll{
  @apply flex w-screen flex-col md:flex-row bg-slate-300 relative ring-0
}

@import './popup.scss';

.nobreak{
  word-wrap: normal;
  word-break: keep-all;
  word-break: normal;
}

// @media (max-width: 768px) {
//   .navbar{
//     // display: none !important;
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     height: 48px !important;
//   }
//   .otherDiv{
//     // display: none;
//     // flex-basis: 100% !important;
//     // height: auto;
//   }
//   // .mainDiv{
//   //   flex-basis: 100% !important;
//   //   height: auto;
//   // }
// }